*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(./background.jpg);
    background-size: cover;
}

.title {
    font-size: 40px;
    font-weight: bold;
    font-family: "Permanent Marker", cursive;
    margin-bottom: 20px;

    color: rgb(255, 0, 85);
    letter-spacing: 2px;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.glass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgb(0, 8, 255, 25%);

    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    padding: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    width: min-content;
    border: 1px solid black;
}
.grid__col {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    border: 1px solid black;
    background-color: white;
}

.cross {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
.cross::before,
.cross::after {
    content: "";
    display: inline-block;

    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 90%;
    height: 8px;

    background-color: black;
}
.cross::before {
    transform: translate(-50%, -50%) rotateZ(-45deg);
}
.cross::after {
    transform: translate(-50%, -50%) rotateZ(45deg);
}

.circle {
    display: inline-block;
    width: 90%;
    height: 90%;
    background-color: transparent;
    border-radius: 50%;
    border: solid 5px red;
}

.footer {
    text-align: center;
    margin-bottom: 5px;
}

.btn {
    border: none;
    outline: none;

    background-image: linear-gradient(
        135deg,
        #ff0101 15%,
        #d8bb24 47%,
        #653be3 78%
    );

    color: white;
    padding: 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background-image: linear-gradient(
        135deg,
        #cf0404 15%,
        #c3a50b 47%,
        #401bad 78%
    );
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}
